body {
	background: linear-gradient(to bottom, #5d9634, #5d9634 50%, #538c2b 50%, #538c2b);
	background-size: 100% 20px;
}

.container {
	width: 50%;
	margin: 30px auto;
	border: 1px solid #ccc;
	padding: 30px;
	background-color: #FAE7B5;
	color: #620808;
	font-size: 16px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(98,8,8,1);
	-moz-box-shadow: 0px 3px 5px 0px rgba(98,8,8,1);
	box-shadow: 0px 3px 5px 0px rgba(98,8,8,1);
}

#todoAdd {
	margin-left: 40px;
}

.todoField {
	padding-left: 5px;
	font-size: 20px;
}

#newTodoField {
	margin: 20px;
	width: 75%;
}

#todoSubmit {
	margin-top: -5px;
	background-color: #AA2E4A;
	color: #fff;
}
#todoSubmit:hover {
	background-color: #EB566E;
}

.todoTask {
	margin-bottom: 20px;
}

.todoName {
	font-size: 20px;
	border-bottom: 1px lightgray solid;
	padding-bottom:5px;
}

.list-name {
	font-size: 30px;
	font-weight: bold;
	color: #AA2E4A;
}

.bage-style {
	background-color: #568203;
	color: #fff;
	padding: 5px 15px;
	border-radius: 50%;
}

.field {
	display: inline-block;
	width: 80%;
}

input {
	background-color: rgba(83,140,43,0.3);
	color: #620808;
	border: none;
}

.action-button {
	padding: 0;
	margin: 0 10px;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.edit-button {
	color: #568203;
}

.edit-button:hover {
	color: #24C9C7;
}

.save-button, .cancel-button {
	color: #620808;
}

.save-button:hover {
	color: #568203;
}

.cancel-button:hover {
	color: #AA2E4A;
}
